<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>No</th>
            <th>ID Client</th>
            <th>Nom Client</th>
            <th>Email</th>
            <th>Date Inscription</th>
            <th>Type</th>
          </tr>
          @for (client of clients; track client.idclient; let index =$index) {
            <tbody>
              <tr>
                <td>{{index}}</td>
                <td>{{client.idclient}}</td>
                <td>{{client.nomclient}}</td>
                <td>{{client.emailclient}}</td>
                <td>{{client.dateinscription | date:'dd/MM/yyyy'}}</td>
                <td>{{client.type.nomType}}</td>
                @if(authService.isAdmin()) {
                <td><a class="btn btn-danger" (click)="supprimerClient(client)">Supprimer</a></td>
                <td><a class="btn btn-success" [routerLink]="['/updateClient', client.idclient]">Modifier</a></td>}
              </tr>
            </tbody>
          }
          @empty {
            <h1>Aucun client trouvé !</h1>
            }
        </table>
      </div>
    </div>
  </div>