<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
<app-update-type
  [type]="updatedType"
  (typeUpdated)="typeUpdated($event)"
  [ajout]="ajout">
</app-update-type>
</div>
      <table class="table table-striped">
        <thead>
          <tr> <th>Id</th><th>Nom Type</th><th>Actions</th> </tr>
        </thead>
        @for(type of types; track type.idType)
        {
        <tbody>
          <tr>
            <td>{{type.idType}}</td>
            <td>{{type.nomType}}</td>
            <td><a class="btn btn-success" (click)="updateType(type)">Editer</a></td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>